#jspsych-html-button-response-stimulus {
  margin: auto;
}

.stimulus {
  border: 2px solid #555;
  background: white;
}

.column {
  float: left;
  padding: 5px;
  border: 2px solid #555;
  background: white;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.shift {
  margin-left: 132px;
  float: left;
  padding: 5px;
  border: 2px solid #555;
  background: white;
}

.background {
  position: relative;
  width: 250px;
  height: 177px;
  border: 2px solid #555;
}

.layer {
    position: absolute;
    top: 0px;
    left: 0px;
}
