#jspsych-category-learning-stimulus {
  margin: auto;
}

.column {
  float: left;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* #container {width:400px; overflow:hidden;}
div {float:left; display:inline; margin:15px;} */
.shift {
  margin-left: 110px;
  float: left;
  padding: 5px;
}

.background {
  position: relative;
  width: 250px;
  height: 200px;
}

.layer {
    position: absolute;
    top: 0px;
    left: 0px;
}
